.contact {
	&__wrapper {
		position: relative;
		.row {
			display: flex;
			justify-content: space-between;
		}
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			left: 0;
			bottom: -40px;
			z-index: 0;
			height: 375px;
			background-color: $color-primary;
		}
	}
	&__iframe {
		border: 30px solid $color-secondary;
		width: 500px;
		height: 500px;
		iframe{
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		gap: 15px; 
		justify-content: center;
		height: calc(375px - 40px);
		margin-top: auto;
		a {
			color: #fff;
			text-decoration: none;
			font-weight: 300;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 20px;
			@extend .transition;
			&:hover{
				color: $color-secondary;
			}
			img{
				width: 25px;
				height: 25px;
			}
		}
	}
	&__title {
		display: flex;
		align-content: center;
		justify-content: center;
		h2 {
			padding: 10px 40px;
			background: $color-primary;
			color: $color-secondary;
			font-family: $font-secondary;
			display: inline-block;
			font-size: 48px;
			text-transform: uppercase;
			margin: 10px 0;
			font-weight: 400;
			position: relative;
			z-index: 2;
			text-align: right;
			position: absolute;
			&:after {
				content: "";
				position: absolute;
				width: 50vw;
				background-color: $color-primary;
				left: 0;
				top: 0;
				height: 100%;
				z-index: -1;
			}
		}
	}
}
