.hero {
	&__wrapper {
		height: 80vh;
		max-height: 800px;
		width: 100%;
		overflow: hidden;
		.row {
			height: 100%;
			position: relative;
		}
	}
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		z-index: 0;
		&:after {
			content: '';
			top: 50%;
			right: 0;
			width: 100vw;
			height: 100%;
			transform: translateY(-50%);	
			background-color: rgba($black, .8);
			padding: 90px;
			position: absolute;
			z-index: -2;
			left: -30%;
		}
		h1 {
			font-size: 124px;
			text-align: right;
			color: #fff;
			font-family: $font-secondary;
			margin: 0;
			line-height: 124px;
			text-transform: uppercase;
		}
		h2 {
			font-weight: 900;
			font-size: 40px;
			text-align: right;
			color: #fff;
			margin: 10px 0;
			text-transform: uppercase;
		}
		.button {
			margin-top: 20px;
			margin-left: auto;
		}
	}
}