.offers {
	&__wrapper {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			width: 30%;
			right: 0;
			bottom: 0;
			z-index: -1;
			height: 95%;
			background-image: url("../images/pattern2.svg");
			background-repeat: no-repeat;
			opacity: .2;

		}
		.row {
			display: flex;
			justify-content: space-between;
		}
	}

	&__title {
		width: 60%;
		display: flex;
		flex-direction: column;
		gap: 50px;
		z-index: 0;
		h2 {
			padding: 10px 40px;
			background: $color-primary;
			color: $color-secondary;
			font-family: $font-secondary;
			display: inline-block;
			font-size: 48px;
			text-transform: uppercase;
			margin: 10px 0;
			font-weight: 400;
			position: relative;
			z-index: 2;
			margin: 0;
			&:after {
				content: "";
				position: absolute;
				width: 50vw;
				background-color: $color-primary;
				right: 0;
				left: unset;
				top: 0;
				height: 100%;
				z-index: -1;
			}
		}
	}
	&__card {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: flex-end;
		&Item {
			width: 240px;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			&Title {
				color: #fff;
				position: absolute;
				bottom: 30px;
				text-transform: uppercase;
				text-align: center;
				width: 100%;
				z-index: 1;
				padding: 10px 0;
				margin: 0;
				@extend .transition;
				&:after {
					content: "";
					left: 0;
					right: 0;
					position: absolute;
					background: #000;
					opacity: 0.4;
					position: absolute;
					height: 100%;
					z-index: -1;
					bottom: 0px;
				}
			}
			&Hide{
				position: absolute;
				height: 240px;
				padding: 30px;
				bottom: -100%;
				left: 0;
				right: 0;
				color: #fff;
				z-index: 2;
				@extend .transition;

				h3{
					font-weight: 700;
					text-transform: uppercase;
				}
				p {
					font-weight: 400;
				}
			}
			&:hover{
				.offers__cardItemTitle{
					opacity: 0;
				}
				.offers__cardItemHide{
					bottom: 0;
				}
				&:after{
					opacity: 0.4;
				}
			}
			&:after {
				content: "";
				left: 0;
				right: 0;
				position: absolute;
				background: #000;
				opacity: 0;
				position: absolute;
				height: 240px;
				z-index: 1;
				bottom: 0;
				top: 0;
				@extend .transition;
			}
		}
	}
}
